<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

		<!--Import Google Icon Font-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
		<!-- Compiled and minified CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />

		<!-- Compiled and minified JavaScript -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

		<link rel="stylesheet/less" type="text/css" href="/less/styles.less" />
		<script src="//cdn.jsdelivr.net/npm/less@3.13"></script>

		<style>
			.mt-2 {
				margin-top: 2rem;
			}
			.p-2 {
				padding: 2rem !important;
			}

			.pl-2 {
				padding-left: 2rem !important;
			}

			.forms {
				display: flex;
			}

			.form-error,
			.message {
				color: #fff;
			}

			.message {
				font-weight: bold;
			}

			ul:not(.browser-default) > li {
				list-style-type: disc !important;
			}
		</style>

		<title>Express 2 : Ajax sports and players</title>
	</head>
	<body>
		<nav class="red darken-4">
			<div class="container">
				<div class="nav-wrapper">
					<a href="#" class="brand-logo">Express 2 : Ajax sports and players</a>
				</div>
			</div>
		</nav>

		<div class="mt-2 container">
			<!-- Page Layout here -->
			<div class="row">
				<div class="col s3">
					<!-- Grey navigation panel -->
					search and filter

					<div class="row">
						<form class="col s12" method="POST" action="filter-process" class="filterForm">
							<div class="row">
								<div class="input-field col s12">
									<input id="name" name="name" type="text" class="validate" />
									<label for="name">Name</label>
								</div>
							</div>

							<div class="row">
								<div class="input-field col s6">
									<label>
										<input type="checkbox" class="filled-in gender" id="gender" value="female" name="gender[]" />

										<span>Female</span>
									</label>
								</div>
								<div class="input-field col s6">
									<label>
										<input type="checkbox" class="filled-in gender" id="gender" value="male" name="gender[]" />

										<span>Male</span>
									</label>
								</div>
							</div>

							<div class="row mt-2">
								<div class="s12">
									<h6>Sports</h6>
									<div class="row">
										<%for(let sport in sports) { %>

										<div class="input-field col s6">
											<label>
												<input type="checkbox" class="filled-in sports" name="sports[]" value="<%= sports[sport].id %>" />

												<span><%= sports[sport].name %></span>
											</label>
										</div>
										<% }%>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>

				<div class="col offset-s1 s8">
					<!-- Teal page content  -->

					<div class="row players">
						<%for(let player in players) { %>
						<div class="col s3 player card">
							<img src="<%= players[player].image_url %>" alt="<%= players[player].name %>" />
							<p><%= players[player].name %></p>
						</div>

						<%}%>
					</div>
				</div>
			</div>
		</div>

		<script>
			$(document).ready(function () {
				$("form").submit(function () {
					return false;
				});

				$("#name").on("input", function (e) {
					let data = {
						name: e.target.value,
					};
					$.post(
						"filter-by-name",
						data,
						function (res) {
							console.log(res);
							let html = ``;

							for (let i = 0; i < res.data.length; i++) {
								html += `<div class="col s3 player card">`;
								html += `<img src="${res.data[i].image_url}" alt="${res.data[i].image_url}" />`;
								html += `<p>${res.data[i].name}</p>`;
								html += `</div>`;
							}

							$(".players").html(html);
						},
						"json"
					);
				});

				$(".gender").click(function () {
					// if ($(this).is(":checked")) {
					// 	genderArr.push($(this).val());
					// } else {
					// 	genderArr.splice($(this).val(), 1);
					// }

					// console.log(genderArr);
					let serialize_data = $("form").serialize();
					console.log(serialize_data);

					$.post(
						"filter-by-gender",
						serialize_data,
						function (res) {
							console.log(res);
							let html = ``;

							for (let i = 0; i < res.data.length; i++) {
								html += `<div class="col s3 player card">`;
								html += `<img src="${res.data[i].image_url}" alt="${res.data[i].image_url}" />`;
								html += `<p>${res.data[i].name}</p>`;
								html += `</div>`;
							}

							$(".players").html(html);
						},
						"json"
					);
				});
			});
		</script>

		<!-- Option 2: Separate Popper and Bootstrap JS -->
		<!--
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
    --></body>
</html>
